
lab/lab07/hybrid.csv
lab/lab07/lab07.ipynb
lab/lab07/tests/q2_1.py
lab/lab07/tests/q2_2.py
lab/lab07/tests/q3_1.py
lab/lab07/tests/q3_2.py
lab/lab07/tests/q3_3.py
lab/lab07/tests/q4_1.py
lab/lab07/tests/q4_2.py
lab/lab07/tests/q4_3.py
lab/lab08/ces_data.csv
lab/lab08/clean_ces.csv
lab/lab08/lab08.ipynb
lab/lab08/tests/q01.py
lab/lab08/tests/q02.py
lab/lab08/tests/q03.py
lab/lab08/tests/q09.py
lab/lab08/three_height_histograms.png
lab/lab08/twins.csv
lab/lab09/farmers_markets.csv
lab/lab09/hate_crimes.csv
lab/lab09/lab09.ipynb
lab/lab09/national_parks_histogram.JPG
lab/lab09/temperatures.csv
lab/lab09/tests/q10.py
lab/lab09/tests/q2.py
lab/lab09/tests/q3.py
lab/lab09/tests/q6.py
lab/lab09/tests/q7.py
lab/lab09/tests/q8.py
lab/lab09/tests/q9.py
