
lecture/bechdel.csv
lecture/lecture13.ipynb
lab/lab10/child_mortality.csv
lab/lab10/fertility.csv
lab/lab10/lab10.ipynb
lab/lab10/life_expectancy.csv
lab/lab10/old_pop.csv
lab/lab10/pew_population_projection.png
lab/lab10/population.csv
lab/lab10/predicates.JPG
lab/lab10/tests/q11.py
lab/lab10/tests/q2.py
lab/lab10/tests/q3.py
lab/lab11/apply.png
lab/lab11/lab11.ipynb
lab/lab11/raw_compensation.csv
lab/lab11/tests/q1_1.py
lab/lab11/tests/q1_2.py
lab/lab11/tests/q1_3.py
lab/lab11/tests/q1_4.py
lab/lab11/tests/q2_1.py
lab/lab11/tests/q2_2.py
lab/lab11/tests/q2_3.py
lab/lab11/tests/q2_4.py
lab/lab11/tests/q3_2.py
lab/lab11/tests/q3_3.py
